<f:layout name="Default" />
<f:section name="main">
<f:render partial="BE_Include_CSS_JS"  />

<div class="container theme-showcase" role="main">

 <div class="alert alert-warning" role="alert">
	<h3>Social Post Module</h3>	
 </div>	
	  
<f:flashMessages />	

 <div class="page-header">
	<h4>Post to Facebook:</h4>
  </div>
  <div class="well">
	<p>Proceed to post above content to Facebook a page.
	<button href=""	type="button" class="btn btn-primary">Login to Facebook</button></p>


  </div>


      
</div>      




 
</f:section>
